USE [master]
GO
/****** Object:  Database [anidado]    Script Date: 9/10/2021 21:02:06 ******/
CREATE DATABASE [anidado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'anidado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\anidado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'anidado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\anidado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [anidado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [anidado]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 9/10/2021 21:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[IDDEP] [int] NOT NULL,
	[NOMDEP] [varchar](70) NOT NULL,
	[IDPAI] [int] NOT NULL,
 CONSTRAINT [DEPARTAMENTO_pk] PRIMARY KEY CLUSTERED 
(
	[IDDEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 9/10/2021 21:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[IDDIS] [int] NOT NULL,
	[NOMDIS] [varchar](100) NOT NULL,
	[IDPRO] [int] NOT NULL,
 CONSTRAINT [DISTRITO_pk] PRIMARY KEY CLUSTERED 
(
	[IDDIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 9/10/2021 21:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[IDPAI] [int] NOT NULL,
	[NOMPAI] [varchar](60) NOT NULL,
 CONSTRAINT [PAIS_pk] PRIMARY KEY CLUSTERED 
(
	[IDPAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 9/10/2021 21:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[IDPER] [int] IDENTITY(1,1) NOT NULL,
	[DNIPER] [numeric](8, 0) NOT NULL,
	[NOMPER] [varchar](100) NOT NULL,
	[APEPER] [varchar](100) NOT NULL,
	[DIRPER] [varchar](150) NOT NULL,
	[CELPER] [numeric](9, 0) NULL,
	[IDPAI] [int] NOT NULL,
	[IDDEP] [int] NOT NULL,
	[IDPRO] [int] NOT NULL,
	[IDDIS] [int] NOT NULL,
 CONSTRAINT [PERSONA_pk] PRIMARY KEY CLUSTERED 
(
	[IDPER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 9/10/2021 21:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[IDPRO] [int] NOT NULL,
	[NOMPRO] [varchar](80) NOT NULL,
	[IDDEP] [int] NOT NULL,
 CONSTRAINT [PROVINCIA_pk] PRIMARY KEY CLUSTERED 
(
	[IDPRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTAMENTO] ([IDDEP], [NOMDEP], [IDPAI]) VALUES (15, N'LIMA', 1)
INSERT [dbo].[DEPARTAMENTO] ([IDDEP], [NOMDEP], [IDPAI]) VALUES (16, N'ALTA VERAPAZ', 2)
INSERT [dbo].[DEPARTAMENTO] ([IDDEP], [NOMDEP], [IDPAI]) VALUES (17, N'RIO DE JANEIRO', 3)
INSERT [dbo].[DISTRITO] ([IDDIS], [NOMDIS], [IDPRO]) VALUES (1, N'SAN VICENTE', 5)
INSERT [dbo].[DISTRITO] ([IDDIS], [NOMDIS], [IDPRO]) VALUES (2, N'ASIA', 5)
INSERT [dbo].[DISTRITO] ([IDDIS], [NOMDIS], [IDPRO]) VALUES (3, N'CALANGO', 5)
INSERT [dbo].[PAIS] ([IDPAI], [NOMPAI]) VALUES (1, N'PERÚ')
INSERT [dbo].[PAIS] ([IDPAI], [NOMPAI]) VALUES (2, N'GUATEMALA')
INSERT [dbo].[PAIS] ([IDPAI], [NOMPAI]) VALUES (3, N'BRASIL')
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([IDPER], [DNIPER], [NOMPER], [APEPER], [DIRPER], [CELPER], [IDPAI], [IDDEP], [IDPRO], [IDDIS]) VALUES (1, CAST(70519652 AS Numeric(8, 0)), N'PIERO ENRIQUE', N'GONSALES PRADA', N'AV. GRAU 144', CAST(987456123 AS Numeric(9, 0)), 1, 15, 5, 1)
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
INSERT [dbo].[PROVINCIA] ([IDPRO], [NOMPRO], [IDDEP]) VALUES (5, N'CAÑETE', 15)
INSERT [dbo].[PROVINCIA] ([IDPRO], [NOMPRO], [IDDEP]) VALUES (6, N'COBAN', 16)
INSERT [dbo].[PROVINCIA] ([IDPRO], [NOMPRO], [IDDEP]) VALUES (7, N'RIO DE JANEIRO', 17)
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [DEPARTAMENTO_PAIS] FOREIGN KEY([IDPAI])
REFERENCES [dbo].[PAIS] ([IDPAI])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [DEPARTAMENTO_PAIS]
GO
ALTER TABLE [dbo].[DISTRITO]  WITH CHECK ADD  CONSTRAINT [DISTRITO_PROVINCIA] FOREIGN KEY([IDPRO])
REFERENCES [dbo].[PROVINCIA] ([IDPRO])
GO
ALTER TABLE [dbo].[DISTRITO] CHECK CONSTRAINT [DISTRITO_PROVINCIA]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [PERSONA_DEPARTAMENTO] FOREIGN KEY([IDDEP])
REFERENCES [dbo].[DEPARTAMENTO] ([IDDEP])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [PERSONA_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [PERSONA_DISTRITO] FOREIGN KEY([IDDIS])
REFERENCES [dbo].[DISTRITO] ([IDDIS])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [PERSONA_DISTRITO]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [PERSONA_PAIS] FOREIGN KEY([IDPAI])
REFERENCES [dbo].[PAIS] ([IDPAI])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [PERSONA_PAIS]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [PERSONA_PROVINCIA] FOREIGN KEY([IDPRO])
REFERENCES [dbo].[PROVINCIA] ([IDPRO])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [PERSONA_PROVINCIA]
GO
ALTER TABLE [dbo].[PROVINCIA]  WITH CHECK ADD  CONSTRAINT [PROVINCIA_DEPARTAMENTO] FOREIGN KEY([IDDEP])
REFERENCES [dbo].[DEPARTAMENTO] ([IDDEP])
GO
ALTER TABLE [dbo].[PROVINCIA] CHECK CONSTRAINT [PROVINCIA_DEPARTAMENTO]
GO
USE [master]
GO
